html{
    background-color: rgba(28,28,34,255);
  }

h1 {
    font-size: 25px;
    margin-left:2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
.namend{
    color:rgb(246, 10, 10) ;
    font-size: medium;
}


.header{
   
    width: 85%;
    display: flex;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    font-family:monospace;
}
a:hover{
    text-decoration: underline;
    color: rgb(255, 0, 0);
}



a
{
    text-decoration: none;
    font-size: 20px;
    color: rgba(193, 84, 0, 0.993);
}
bodyy{
    background-color:rgba(28,28,34,255);
    font-family: monospace;
    position: absolute;
    left: 800px;
    top: 200px;
    color: white;
    text-align: right;
}

.hello{
    font-size: 80px;
    font-weight: bold;
}

.name{
    font-size:80px;
    color: rgba(238, 9, 9, 0.993);
}

.description{
    font-size: 15px;
    color: #d3d3d3;
    word-spacing:normal;
}

